if (theme.sharejs && theme.sharejs.enable)
  .social-share(data-disabled=theme.sharejs.disabled_sites,data-image=theme.sharejs.image).pull-right
  link(rel="stylesheet" href=theme.sharejs.css)
  script(src=theme.sharejs.js)